@import "./modern-normalize.css";
@import "./atom-one-light.css";

html,
body {
  height: 100%;
}

html {
  line-height: 1.5;
}

body {
  background-color: #f7f7f7;
  color: #666666;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  display: flex;
}

a {
  color: #ff8e96;
}

a:hover {
  color: #ff0069;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

code {
  background-color: #f2f2f2;
  border-radius: 2px;
  padding: 0.2em;
}

.hljs {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 1em;
}

pre code {
  display: block;
  overflow-x: auto;
}

@media only screen and (min-width: 800px) {
  .mobile {
    display: none;
  }
}
